{% extends "/opt/rtfd/readthedocs/templates/base.html" %}
{% load i18n %}

{% block branding %}{% trans "Services Library" %} {% endblock %}


{% block footer-content %}

<div class="column-logo">
</div>

<div class="column-about">
</div>

<div class="column-rtd">
</div>

<div class="clearfix"></div>

<div class="social-column">
</div>

<div class="clearfix"></div>

<div class="footer-bottom">
  <hr>

  <div class="column-copyright">
    <p>
      <small>&copy; Copyright {% now "Y" %}, {% trans 'Splunk, Inc' %}</small>
    </p>

    <p>
      <small>{% trans 'Version' %} <a href="http://docs.readthedocs.io/en/latest/changelog.html">{% readthedocs_version %}</a></small>
    </p>
  </div>

  {% block language-select-form %}
    <div class="column-setlang">
      {% get_current_language as current_lang %}
      <form action="/i18n/setlang/" method="post" style="float: right">
        <input name="next" type="hidden" value="/" />
        {% csrf_token %}
        <select name="language">
          {% for lang in LANGUAGES %}
            {% if lang.0 == current_lang %}
            <option selected="selected" value="{{ lang.0 }}">{{ lang.0|language_name_local }} [{{ lang.1 }}]</option>
            {% else %}
            <option value="{{ lang.0 }}">{{ lang.0|language_name_local }} [{{ lang.1 }}]</option>
            {% endif %}
          {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Change Language' %}" name="submit">
      </form>
    </div>
  {% endblock language-select-form %}

</div>

  <div class="clearfix"></div>

  <div class="sponsors">
  </div>

{% endblock footer-content %}
